.cache
.clj-kondo/.cache
.cljs_node_repl
.cpcache
.idea
public/assets
public/test/assets
node_modules
out
target
.eastwood
.nrepl-port
*.jar
*.iml
.shadow-cljs
pom.xml
trace.edn
build.edn

!public/index.html
!public/test/index.html
