^{:npm {:bundles {"dev/resources/public/assets/js/index.min.js" "src/index.js"}}}

{:main            clj-monaco.core
 :output-to       "dev/resources/public/assets/js/clj_monaco.min.js"
 :optimizations   :advanced
 :source-map      false
 :pretty-print    false
 :parallel-build  true
 :npm-deps        false
 :infer-externs   true
 :closure-defines {goog.DEBUG false}}
