{:deps         {:aliases [:dev]}

 :source-paths ["src/main" "src/dev" "src/test"]

 :nrepl        {:port    7888
                :init-ns user}

 :builds       {:app  {:target     :browser
                       :output-dir "public/js"
                       :asset-path "/js"

                       :modules    {:main {:init-fn monaco.example/init}}

                       :devtools   {:http-port 3000
                                    :http-root "public"
                                    :preloads  [devtools.preload day8.re-frame-10x.preload]}

                       :dev        {:compiler-options {:closure-defines {goog.DEBUG                           true
                                                                         re-frame.trace/trace-enabled?        true
                                                                         day8.re-frame.tracing/trace-enabled? true}}}}

                :test {:target   :browser-test
                       :test-dir "public/test"

                       :devtools {:http-port 3001
                                  :http-root "public"
                                  :preloads  [devtools.preload]}

                       :dev      {:compiler-options {:closure-defines {goog.DEBUG                           true
                                                                       re-frame.trace.trace-enabled?        true
                                                                       day8.re-frame.tracing.trace-enabled? true}}}}

                :ci   {:target    :karma
                       :output-to "public/test/js/ci.js"}}}
