{:deps         {:aliases [:dev]}

 :source-paths ["src" "dev/src" "test/src"]

 :nrepl        {:port 7888}

 :builds       {:app {:target     :browser
                      :output-dir "./dev/resources/public/assets/js"
                      :asset-path "/assets/js"

                      :dev        {:compiler-options {:closure-defines {goog.DEBUG                           true
                                                                        re-frame.trace/trace-enabled?        true
                                                                        day8.re-frame.tracing/trace-enabled? true}}}

                      :devtools   {:http-root "./dev/resources/public"
                                   :http-port 3000
                                   :preloads  [day8.re-frame-10x.preload]}

                      :modules    {:main {:init-fn clj-monaco.example/init}}}}}
