{:deps           {:aliases [:dev :test :common]}

 :nrepl          {:port    7888
                  :init-ns user}

 :build-defaults {:js-options {:resolve {"monaco" {:target :global
                                                   :global "monaco"}}}}

 :builds         {:app  {:target     :browser
                         :output-dir "public/assets"
                         :asset-path "/assets"

                         :modules    {:main {:init-fn monaco.example/init}}

                         :devtools   {:http-port 3000
                                      :http-root "public"
                                      :preloads  [devtools.preload day8.re-frame-10x.preload]}

                         :dev        {:compiler-options {:closure-defines {goog.DEBUG                           true
                                                                           re-frame.trace/trace-enabled?        true
                                                                           day8.re-frame.tracing/trace-enabled? true}}}}

                  :test {:target   :browser-test
                         :test-dir "public/test"

                         :dev      {:compiler-options {:closure-defines {goog.DEBUG                           true
                                                                         re-frame.trace.trace-enabled?        true
                                                                         day8.re-frame.tracing.trace-enabled? true}}}}

                  :ci   {:target    :karma
                         :output-to "public/test/assets/ci.js"}}}
